@model AuthProject.Models.Role
<head>
    <title>
        Create New
    </title>
</head>
<body>
<div class=" row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-control">
                <label asp-for="RollName" class="control-label"></label>
                <input asp-for="RollName" class="form-control"/>

            </div>
            <div class="form-control">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-control">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="control-label" />

            </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            
        </form>
       
    </div>
</div>
</body>

