@model IEnumerable<Role>
<head>
    <title>
        Index of roles
       
    </title>
</head>
@if (this.User.IsInRole("Admin"))
{
    <p> <a asp-action="Create">Create New</a> </p>
}
@TempData["User Not Found"]
<form method="post" asp-action="Index" asp-controller="Role">
    <div class="input-group">
        <div class="form-outline">
            <input type="text" class="form-control" name="Email" /> 
            <label class="form-label">Search</label>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>




@* starts here *@
<table class="table">
   
<thead>
    
        <tr>
            <th>
                Email
            </th>
            <th>
                Roll Name
            </th>
         </tr>


    
</thead>
<tbody>
    @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.RollName
                </td>
            </tr>
        }
    </tbody>


</table>